<div ngClass.lt-lg="mobile">
  <div class="header-bg">&nbsp;</div>
  <div class="header-bg-scroll">&nbsp;</div>

  <div class="wrapper" fxLayout="column">
    <div class="top-bar">
      <app-landing-top></app-landing-top>
    </div>

    <div fxLayout="column" fxFlex fxLayoutGap="80px">
      <app-landing-hero class="content-row" fxFlex></app-landing-hero>

      <app-landing-counters class="content-row"></app-landing-counters>

      <app-landing-feature-tour class="content-row"></app-landing-feature-tour>

      <app-landing-security></app-landing-security>

      <app-landing-comments class="content-row"></app-landing-comments>
    </div>

    <app-landing-footer-banner></app-landing-footer-banner>
    <app-landing-footer></app-landing-footer>
  </div>
</div>
